@import "../utils/mixins";

.explorer {
    text-align: center;
& h2 {
    
    font-size: 32px;
}
& p {
    font-size: 16px;
}
& button {
    color: white;
    font-weight: 300;
    font-size: 24px;
    padding: 16px 32px;
    border: none;
    border-radius: 32px;
    transition: transform 200ms;
    margin-top: 16px;
    @include base-shadow;
    @include gradient;
}
& button:hover {
    transform: scale(1.02);
    opacity: 0.9;
}
}