@import "../utils/variables.scss";
@import "../utils/colors.scss";
@import "../utils/mixins.scss";

#homepage {
  .menus {
    background-color: #f6f6f6;
    margin-bottom: 32px;

    .menus_cards {
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        gap: 32px;
        @media (max-width: $breakpoint) {
        grid-template-columns: repeat(1, 1fr);
    
    }
    .new {
        position: relative;
    }
    .new::before {
        content: "Nouveau";
        position: absolute;
        height: 32px;
        width: 80px;
        background-color:$color-tertiary;
        color: darken($color-tertiary, 50%);
        display: grid;
        place-items: center;
        right: 16px;
        top: 16px;
    }
}
    .card {
        &_image {
            background-image: url("../../assets/menu-1.jpg");
            height: 240px;
            border-radius: 16px 16px 0 0;
            background-size: cover;
        }

        @for $i from 1 through 4 {
            &_image-#{$i} {
                background-image: url("../assets/menu-#{$i}.jpg");
            }    
        }
        &_description {
            @include heart-animated;
            }
            h3
            p {
                 padding: 4.8px;
           }                    
       }
    }  
 }   
