@import "../utils/mixins.scss";
@import "../utils/variables.scss";
@import "../utils/colors.scss";


.tuto {
    counter-reset: steps;
    & ol {
        display: flex;
        gap: 32px;
        @media (max-width : 1000px){
            flex-direction: column;
        }
}
& li {
    position: relative;
    &::before{
        content: counter(steps);
        counter-increment: steps;
        color: white;
        background-color:$purple;
        width: 2* $tuto-bullet-height;
        height: 2* $tuto-bullet-height;
        display: grid;
        place-items: center;
        border-radius: 50%;
        position: absolute;
        top: 30%;
        left: -1 *$tuto-bullet-height;
        transform: translate(-0%);
    }
    list-style-type: none;
    background-color: #f6f6ff;
    padding: 24px 32px;
    flex-grow: 1;
    border-radius: 16px;
    @include box-shadow;
    &:hover{
        @include zoom;
    }
    & i.fas {
        margin-right: 16px;
        color: $lightgrey;
        font-size: 24px;
    }
}
}