@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "roboto, sans serif";
}

main {
  padding: 0 122px;
}
@media (max-width: 1000px) {
  main {
    padding: 0 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  padding: 4.8px;
  margin: 0px;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 8px;
}
.city i {
  font-size: 24px;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  font-size: 32px;
}
.explorer p {
  font-size: 16px;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  transition: transform 200ms;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 3s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-radius: 50%;
  animation: spin 3s;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.tuto {
  counter-reset: steps;
}
.tuto ol {
  display: flex;
  gap: 32px;
}
@media (max-width: 1000px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6ff;
  padding: 24px 32px;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: -16px;
  transform: translate(0%);
}
.tuto li:hover {
  transform: none scale(1.02);
}
.tuto li i.fas {
  margin-right: 16px;
  color: #7e7e7e;
  font-size: 24px;
}

#homepage .menus {
  background-color: #f6f6f6;
  margin-bottom: 32px;
}
#homepage .menus .menus_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 1000px) {
  #homepage .menus .menus_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#homepage .menus .menus_cards .new {
  position: relative;
}
#homepage .menus .menus_cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 32px;
  width: 80px;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 16px;
  top: 16px;
}
#homepage .menus .card_image {
  background-image: url("../../assets/menu-1.jpg");
  height: 240px;
  border-radius: 16px 16px 0 0;
  background-size: cover;
}
#homepage .menus .card_image-1 {
  background-image: url("../../assets/menu-1.jpg");
}
#homepage .menus .card_image-2 {
  background-image: url("../../assets/menu-2.jpg");
}
#homepage .menus .card_image-3 {
  background-image: url("../../assets/menu-3.jpg");
}
#homepage .menus .card_image-4 {
  background-image: url("../../assets/menu-4.jpg");
}
#homepage .menus .card_description {
  position: relative;
  background-color: white;
  border-radius: 0 0 16px 16px;
}
#homepage .menus .card_description::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 32px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#homepage .menus .card_description::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 32px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
#homepage .menus .card_description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#homepage .menus .card h3 p {
  padding: 4.8px;
}

footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 500;
  padding: 16px 0;
}
footer p {
  padding: 8px;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  background-color: #f6f6f6;
}

#page-resto header:hover::before {
  transform: translateY(-50%) scale(1.2);
}
#page-resto header::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: transform 200ms;
}
#page-resto .banner img {
  display: block;
  max-width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center bottom;
}
#page-resto .resto_title {
  margin-top: -32px;
}
#page-resto .resto_title h2 {
  font-family: "shrikhand", "sans serif";
  padding: 32px 16px;
  position: relative;
  background-color: white;
  border-radius: 0 0 16px 16px;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
}
#page-resto .resto_title h2::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 32px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#page-resto .resto_title h2::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 32px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
#page-resto .resto_title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#page-resto .resto-main {
  padding: 0 16px;
}
#page-resto .menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media (max-width: 1000px) {
  #page-resto .menus {
    grid-template-columns: 1fr;
  }
}
#page-resto .menus h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 16px;
}
#page-resto .menus h3::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 0px;
  height: 4px;
  width: 48px;
  background-color: #99e2d0;
}
#page-resto .menus .menus_category {
  overflow: hidden;
}
#page-resto .menus .menus_category:nth-child(1) {
  animation-delay: 100ms;
}
#page-resto .menus .menus_category:nth-child(2) {
  animation-delay: 200ms;
}
#page-resto .menus .menus_category:nth-child(3) {
  animation-delay: 300ms;
}
#page-resto .menus .menus_category .menu-item {
  display: flex;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  margin: 8px;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  animation: appear 1s;
  animation-fill-mode: both;
}
#page-resto .menus .menus_category .menu-item:nth-child(1) {
  animation-delay: 100ms;
}
#page-resto .menus .menus_category .menu-item:nth-child(2) {
  animation-delay: 200ms;
}
#page-resto .menus .menus_category .menu-item:nth-child(3) {
  animation-delay: 300ms;
}
#page-resto .menus .menus_category .menu-item .menu-item_price {
  margin-left: auto;
  font-weight: 900;
  padding: 8px;
  display: flex;
  align-items: flex-end;
}
#page-resto .menus .menus_category .menu-item .menu-item_description {
  padding: 16px;
  overflow: hidden;
}
#page-resto .menus .menus_category .menu-item .menu-item_description h4,
#page-resto .menus .menus_category .menu-item .menu-item_description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto .menus .menus_category .menu-item .menu-item_check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 16px 16px 0;
  background-color: #99e2d0;
  margin-right: -64px;
  width: 64px;
  transition: margin-right 0.5s;
}
#page-resto .menus .menus_category .menu-item .menu-item_check i {
  display: grid;
  place-items: center;
  background-color: white;
  aspect-ratio: 1;
  width: 32px;
  border-radius: 16px;
  color: #99e2d0;
}
#page-resto .menus .menus_category .menu-item:hover .menu-item_check {
  margin-right: 0;
}
#page-resto .menus .menus_category .menu-item:hover i {
  animation: quarter-spin 0.5s ease-in-out;
}
@keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
#page-resto section.order {
  height: 30vh;
  display: grid;
  place-items: center;
}
#page-resto section.order button {
  color: white;
  font-weight: 300;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  transition: transform 200ms;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
#page-resto section.order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
